<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liuxin.dao.OrderDao">


    <!--====================查询===================-->

    <!--根据user_id , status_id , show_id查询该用户的全部订单-->
    <select id="findByUserId" resultType="com.comm.comm.model.Order">
        select order_id , order_create_date , order_status , order_amount  , order_coupons , show_price , show_city , show_date , show_name from order_user , show_base , show_price , show_type , order_status where order_user.show_id = show_base.show_id
       and order_user.order_status_id = order_status.status_id and order_user.user_id=#{user_id};

    </select>

    <!--遍历订单状态表-->
    <select id="findOrderStatus" resultType="com.comm.comm.entity.OrderStatus">
        select * from order_status;
    </select>

    <!--根据订单状态和user_id查询该用户所有订单-->
    <select id="findByOrderStatus" resultType="com.comm.comm.entity.Order">
        select a.*,b.order_status from order_user a, order_status b where  a.order_status_id=b.status_id and a.user_id=#{user_id} and a.order_status_id = #{order_status};
    </select>

    <!--根据演出名称和演出时间查询所有订单座位-->
    <select id="findAllseat" resultType="com.comm.comm.entity.Order">
        select order_seat.seat_number , order_seat.seat_price , order_seat.seat_id from order_user , order_seat , show_base where order_user.order_order_name = #{order_order_Name} and order_user.owrder_create_date = #{owrder_create_date};
    </select>

    <!--============================添加========================-->

    <!--未使用优惠券添加订单-->
    <!--<insert id="insertOrder" parameterType="com.comm.comm.entity.Order">-->
        <!--insert into order_user (order_address , order_amount , order_create_date, order_show_name , order_quantity,order_status_id , show_id, user_id , order_show_date , order_phone_number )-->
         <!--values (#{order_address} , #{order_amount} ,#{order_create_date}, #{order_show_name} , #{order_quantity} ,  #{order_status_id},#{show_id} ,#{user_id},#{order_show_date},#{order_phone_number});-->
    <!--</insert>-->


    <!--使用优惠券的添加订单-->
    <insert id="insertOrder" parameterType="com.comm.comm.entity.Order">
        insert into order_user (order_address , order_amount , order_create_date, order_show_name , order_quantity,order_status_id , show_id, user_id , order_show_date , order_phone_number , order_coupons)
         values (#{order_address} , #{order_amount} ,#{order_create_date}, #{order_show_name} , #{order_quantity} ,  #{order_status_id},#{show_id} ,#{user_id},#{order_show_date},#{order_phone_number},#{order_coupons});
    </insert>

    <!--=============================更改=======================-->

    <!--修改订单状态-->
    <update id="updateOrderStatusid" parameterType="com.comm.comm.entity.Order">
        update order_user set order_status_id=#{status} where user_id=#{user_id} and order_id = #{order_id}
    </update>

</mapper>